doctype html
html(ng-app='class', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="description" content="Portfolio Landing Page for All Nashville Software School Students Cohort Six")
    title NSS Cohort 6
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='vendor/bootstrap/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/bootstrap/css/main.css')
    link(rel='stylesheet', href='public/index.css')
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  body
    //Fixed navbar 
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 
            i.fa.fa-bolt 
          ul.nav.navbar-nav.navbar-left
            li
              a(href='#') NSS: Cohort VI
            
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#about') About
            li
              a(href='#meet') Meet
            li
              a(href='#contact') Contact

    .hello
      .container
        .row
          .col-lg-8.col-lg-offset-2.centered
            h1 Hello World!
            h2 Meet NSS : Cohort VI
    .pic#pic
      .col-sm-12.group-img
        img.img-responsive(src='/public/assets/group1.jpg', alt='Photo of the Class.')
    .about#about
      .col-sm-12
        h2 A little bit about the class.
      .col-sm-12.desc
        h3 After six months of training, thousand of lines of code, and gallons of coffee, we're ready for the coding 
          | challenges of tomorrow.
        p The Web Developer Bootcamp is a six-month, full-time program. The curriculum teaches the skills and technologies 
          | required to become a junior full-stack software developer.
          | Cohort Six focused on a full JavaScript stack, building the frontend chops to create websites, web apps, 
          | and hybrid mobile applications with HTML, CSS, JavaScript, jQuery, AngularJS, and Ionic.
          | We laid down a solid foundation in general software engineering and server­-side development concepts, 
          | e.g. test­-driven development, object­-oriented programming, pair programming, 
          | source code control in a team environment, common code patterns, NoSQL and SQL databases with NodeJS, Express, 
          | Hapi, MongoDB, and Postgresql.
    .row.meet#meet(ng-controller='ClassCtrl')
      .meet-nav
        h2 Meet Us
        div(ng-repeat='student in students')
          a(href='{{ "#" + student.name}}') {{student.name}} &nbsp;
          p &bull; &nbsp;
      .horizontal
        .students
          section.student(ng-repeat='student in students', id='{{student.name}}')
            .col-xs-6
              img.img-responsive(ng-src='{{student.photo}}' alt='photo of {{student.name}}')
            .col-xs-6
              h3 {{student.name}}
              p {{student.desc}}
              h4: a(href='{{student.url}}', target='_blank') Portfolio Website
              ul
                li: a(href='{{student.github}}', target='_blank'): i.fa.fa-github-square.fa-2x
                li: a(href='{{student.linkedin}}', target='_blank'): i.fa.fa-linkedin-square.fa-2x
                li: a(href='{{student.twitter}}', target='_blank'): i.fa.fa-twitter-square.fa-2x
                  
                
          .clearfix

  .hack
    .row
      .col-xs-12
        h2.text-center We had a great time at HackNashville6!
    .row
      .col-sm-3
        img.img-responsive(src='public/assets/hack_small.jpg')
        
      .col-sm-9

        h4 Here are the Teams we participated in:
        .col-md-6
          ul
            li.title HackDanceville, Hackers Choice Award
              ul.participants
                li Juan Job Rodriguez 
            li.title NashVesTN, Finalist
              ul.participants
                li Melanie Fryman
                li Brian Hiatt
                li Kayla Jones
                li Sarah Pearson
                li Joy Pratt
                li Shruti Sharma
        .col-md-6
          ul
            li.title Friendswipe
              ul.participants
                li Mikey Badr
                li Adam Barnhard
                li Daniel Roden
            li.title Gravity
              ul.participants
                li Nathan Vasquez
          
  .featured
    h2 Featured Projects
    p selected projects here. 3-6
  footer
    .col-md-6.thanks
      h3 Special Thanks To:
      h4 Our amazing teacher: Chyld Medford.
      h4 Our fantastic TAs! 
      ul
        li Scott Humphries
        li MaRisa Jackson
        li Adam Keesecker
        li Tyler Malone
        li Bob Paterno
        li JL Phillips 
      h4 Our awesome photographer Inge Kathleen, 
        a(href='http://www.ingekathleen.com/', target='_blank') visit her site.
      h5 Kayla Jones and Brian Hiatt for developing this site.
        
    .col-md-6.contact#contact
      a(href='http://nashvillesoftwareschool.com/'): img.nss-logo(src='/public/assets/nss.png', alt='nss')
      .row
        .col-xs-12.copy
          small &copy;Nashville Software School
      
      
    script(src='public/bower_components/jquery/dist/jquery.min.js')
    script(src='public/bower_components/angular/angular.min.js')
    script(src='public/bower_components/angular-route/angular-route.min.js')
    script(src='public/nss-cohort-2014-06-07.github.io.min.js')
    script(src='vendor/bootstrap/js/bootstrap.js')
