doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="description" content="Portfolio Landing Page for All Nashville Software School Students Cohort Six")
    title NSS Cohort 6
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='vendor/bootstrap/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/bootstrap/css/main.css')
    link(rel='stylesheet', href='public/index.css')
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  body
    //Fixed navbar 
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 
            i.fa.fa-bolt 
          ul.nav.navbar-nav.navbar-left
            li
              a(href='#') NSS: Cohort VI
            
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#about') About
            li
              a(href='#meet') Meet
            li
              a(href='#contact') Contact

    .hello
      .container
        .row
          .col-lg-8.col-lg-offset-2.centered
            h1 Hello World!
            h2 Meet NSS : Cohort VI
    .about#about
      .col-sm-6.group-img
        img.img-responsive(src='/public/assets/group.jpg', alt='Photo of the Class.')
      .col-sm-6.desc
        h3 Nashville Software School's Cohort Six
        h4 I'll put this over here, with the rest of the fire. I'll put this over 
          | here, with the rest of the fire. Oh my God. I didn't even know Smarties 
          | made a cereal. They don't. It's just Smarties in a bowl with milk. 0115... 
          | no... 0118... no... 0118 999 ... 3. Hello? Is this the emergency services? 
          | Then which country am I speaking to? Hello? Hello? 
      
    .meet#meet
      h2 Meet the Students
      p slider in here...
      //slider here, existing links below
        a(href='http://zoeames.github.io/', target='_blank'): li Zo&euml; Ames
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://mikeyb.net', target='_blank'): li Mikey Badr
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://www.adambarnhard.com/'): li Adam Barnhard
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://mikebbarreiro.github.io/', target='_blank'): li Michael Barreiro
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://daviddboling.com', target='_blank'): li Dave Boling
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://lizahcarter.github.io/', target='_blank'): li Liza Carter
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://melanie.fryman.io/', target='_blank'): li Melanie Fryman
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://portfolio.bchiatt.co', target='_blank'): li Brian Hiatt
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://portfolio.kaylalynjones.ninja', target='_blank'): li Kayla Jones
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://mkeef1.com', target='_blank'): li Matt Keef 
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://sarahmpearson.github.io/', target='_blank'): li Sarah Pearson
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://portfolio.joympratt.com', target='_blank'): li Joy Pratt &nbsp;
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://glogandr.github.io/', target='_blank'): li Logan Richardson
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://www.dsroden.com', target='_blank'): li Daniel Roden 
          i.fa.fa-link.fa-fw.fa-5x
        a(href='#'): li Juan Job Rodriguez 
          //a(href='http://portfolio.juanjob.info' >>>http://jjsub.github.io/, target='_blank'): li Juan Rodriguez
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://shrutijalewar.github.io/', target='_blank'): li Shruti Sharma
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://dennis-stanley.com', target='_blank'): li Dennis Stanley
          i.fa.fa-link.fa-fw.fa-5x
        a(href='http://superartie.github.io/', target='_blank'): li Nathan Vasquez
          i.fa.fa-link.fa-fw.fa-5x
  .hack
    .row
      .col-xs-12
        h2.text-center We had a great time at HackNashville6!
    .row
      .col-sm-3
        img.img-responsive(src='public/assets/hack_small.jpg')
        
      .col-sm-9

        h4 Here are the Teams we participated in:
        .col-md-6
          ul
            li.title HackDanceville, Hackers Choice Award
              ul.participants
                li Juan Job Rodriguez 
            li.title NashVesTN, Finalist
              ul.participants
                li Melanie Fryman
                li Brian Hiatt
                li Kayla Jones
                li Sarah Pearson
                li Joy Pratt
                li Shruti Sharma
        .col-md-6
          ul
            li.title Friendswipe
              ul.participants
                li Mikey Badr
                li Adam Barnhard
                li Daniel Roden
            li.title Gravity
              ul.participants
                li Nathan Vasquez
          
  .featured
    h2 Featured Projects
    p selected projects here. 3-6
  footer
    .col-md-6.thanks
      h3 Special Thanks To:
      h4 Our amazing teacher: Chyld Medford.
      h5 Our fantastic TAs:
      h5 The students for developing this site.
        
    .col-md-6.contact
      a(href='http://nashvillesoftwareschool.com/'): img.nss-logo(src='/public/assets/nss.png', alt='nss')
      .row
        .col-xs-12.copy
          small &copy;Nashville Software School
      
      

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.js')
