body {
  background-color: #f7f7f7;
}
.hello {
  width: 100%;
  height: auto;
  padding: 40px;
  margin: 90px 0 0 0;
}
.hello h1 {
  font-weight: bold;
  color: #66cdaa;
  font-size: 3em;
}
.hello h2 {
  font-size: 1.25em;
}
.about {
  background-color: white;
  height: auto;
  padding: 40px;
}
.about .group-img img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
.about .desc {
  padding: 10px;
}
.meet {
  padding: 20px;
}
.hack {
  height: auto;
  padding: 40px;
  background-color: white;
}
.hack img {
  border: 1px solid grey;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}
.hack ul {
  list-style: none;
  padding: 0;
}
.hack ul li.title {
  font-size: 18px;
  font-weight: bold;
  color: #f85c37;
  line-height: 26px;
  margin-top: 20px;
}
.hack ul.participants > li {
  font-weight: normal;
  color: black;
  line-height: 26px;
}
.featured {
  padding: 20px;
}
.featured div {
  display: inline-block;
}
footer {
  height: auto;
  padding: 10px;
  background-color: white;
}
footer .contact {
  border-top: 2px solid #f7f7f7;
  text-align: right;
}
footer .contact,
footer .copy,
footer .thanks {
  padding: 20px;
}
footer .contact h3,
footer .copy h3,
footer .thanks h3 {
  color: #66cdaa;
}
footer .contact .copy,
footer .copy .copy,
footer .thanks .copy {
  text-align: center;
}
footer .contact .nss-logo,
footer .copy .nss-logo,
footer .thanks .nss-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .hello {
    width: 100%;
    height: 400px;
    padding: 40px;
    margin: 90px 0 0 0;
  }
  .hello h1 {
    font-weight: bold;
    color: #66cdaa;
    font-size: 5em;
  }
  .hello h2 {
    font-size: 2em;
  }
  .about {
    height: 450px;
    padding: 40px;
  }
  .about .desc {
    padding: 40px;
  }
  .meet {
    background-color: transparent;
    height: auto;
    padding: 40px;
  }
  .hack {
    height: 500px;
    padding: 40px;
  }
  .hack ul {
    margin: 0;
  }
  .hack h3 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #66cdaa;
  }
  .hack h4 {
    margin-left: 2%;
  }
  .featured {
    height: 450px;
    padding: 40px;
  }
  footer {
    height: 450px;
    padding: 40px;
  }
  footer .contact {
    border: none;
  }
  footer .contact .copy {
    text-align: right;
  }
  footer .contact .nss-logo {
    display: inline;
  }
}
.meet ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #eee;
}
.meet ul i {
  margin: 40px auto;
  color: #eee;
}
.meet ul > a {
  list-style: none;
  display: inline-block;
  width: 25%;
  height: 300px;
  border: 2px solid #eee;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  transition: background 1s;
  -moz-transition: background 1s;
  /* Firefox 4 */
  -webkit-transition: background 1s;
  /* Safari and Chrome */
  -o-transition: background 1s;
  /* Opera */
}
.meet ul > a:hover {
  background-color: rgba(248, 92, 55, 0.49);
  color: #f7f7f7;
  font-weight: 700;
}
.meet ul > a:active {
  background-color: rgba(248, 92, 55, 0.49);
  color: #f7f7f7;
  font-weight: 700;
}
@media (max-width: 960px) {
  .meet ul > a {
    width: 50%;
  }
}
