doctype html
html
  head
    meta(charset='utf-8')
    title NSS Cohort 6
    link(rel='stylesheet', href='app.min.css')
  body
    h1 Welcome to NSS : Cohort VI
    ol
      li
        a(href='http://shrutijalewar.github.io/') shruti
      li
        a(href='#') shruti
      li
        a(href='http://mikebbarreiro.github.io/') michael
      li
        a(href='http://michaelbarreiro.com') michael
      li
        a(href='http://sarahmpearson.github.io/') sarah
      li
        a(href='http://sarahmpearson.com') sarah
      li
        a(href='http://kaylalynjones.github.io/') kayla
      li
        a(href='http://www.kaylalynjones.ninja') kayla
      li
        a(href='http://dsroden.github.io/') daniel
      li
        a(href='http://www.dsroden.com') daniel
      li
        a(href='http://lizahcarter.github.io/') liza
      li
        a(href='http://liza.link') liza
      li
        a(href='http://abarnhard.github.io/') adam
      li
        a(href='http://www.adambarnhard.com') adam
      li
        a(href='http://kadowki.github.io/') dave
      li
        a(href='http://daviddboling.com') dave
      li
        a(href='http://mlfryman.github.io/') melanie
      li
        a(href='http://www.mlfryman.com') melanie
      li
        a(href='http://mfbadr.github.io/') mikey
      li
        a(href='http://mikeyb.net') mikey
      li
        a(href='http://bchiatt.github.io/') brian
      li
        a(href='http://portfolio.bchiatt.co') brian
      li
        a(href='http://zoeames.github.io/') zoe
      li
        a(href='http://zoeames.com') zoe
      li
        a(href='http://joyp.github.io/') joy
      li
        a(href='http://portfolio.joympratt.com') joy
      li
        a(href='http://tdsjr82.github.io') dennis
      li
        a(href='http://dennis-stanley.com') dennis
      li
        a(href='http://superartie.github.io/') nathan
      li
        a(href='#') nathan
      li
        a(href='http://mkeef1.github.io/') matt
      li
        a(href='http://mkeef1.com') matt
      li
        a(href='http://glogandr.github.io/') logan
      li
        a(href='http://gloganrichardson.com') logan
      li
        a(href='http://jjsub.github.io/') juan
      li
        a(href='http://portfolio.juanjob.info') juan
